@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

div {
    -webkit-touch-callout: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}


/* 배경 지지직 효과 */
.glitch-background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: repeating-linear-gradient(0deg,
            #000,
            #000 2px,
            #111 2px,
            #111 4px);
    animation: backgroundNoise 0.25s infinite;
    position: relative;
    cursor: pointer;
}

@keyframes backgroundNoise {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 5px 10px;
    }

    100% {
        background-position: -5px -10px;
    }
}

/* 시작 전 오버레이 */
.start-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 5, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-text {
    color: #ccc;
    font-size: clamp(14px, 2.5vw, 22px);
    font-family: 'IM Fell English SC', serif;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
    animation: blinkText 1.5s infinite;
}

@keyframes blinkText {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }
}

/* 글씨 스타일 */
.creepy-text {
    font-family: 'IM Fell English SC', serif;
    font-size: clamp(20px, 4vw, 38px);
    color: #e1dcdc;
    text-shadow:
        0 0 4px #aa0000,
        0 0 8px #440000;
    white-space: pre-wrap;
    text-align: center;
}

/* 커서 */
.typing-text::after {
    content: '|';
    animation: blinkCursor 1.5s infinite;
    color: #ff4444;
    margin-left: 4px;
}

@keyframes blinkCursor {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* 노이즈 글자 */
.noise-char {
    color: #a94444;
    font-size: clamp(20px, 4vw, 38px);
    font-weight: bold;
    animation: glitchJitter 0.4s infinite;
}

@keyframes glitchJitter {
    0% {
        transform: translateX(1px);
        opacity: 0.8;
    }

    50% {
        transform: translateX(-1px);
        opacity: 0.4;
    }

    100% {
        transform: translateX(0);
        opacity: 0.8;
    }
}